[Unit]
Description=Sisumail Update (pull latest release and restart services)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/lib/sisumail/update.sh

